@font-face {
    font-family: 'MICEMyungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEMyungjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EarlyFontDiary';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EarlyFontDiary.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: 'EarlyFontDiary';
    margin:0;
    
}
div{
    display:block;
    overflow: hidden;

}
.header{
    font-family: 'MICEMyungjo';
    height:10%;
    background-color: rgb(229, 229, 229);
}
.header img, h3{
    margin-left:45%;
}
.top{
    z-index:1;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    /* height: 100vh; */
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
}

ul {
    list-style:none;
    margin:0;
    padding:0;
}

li {
   
   
    background-color: rgb(198, 198, 198);
    padding-top:5px;
    padding-left: 12%;
    border : 0;   
    /* float: left; */
    
}
.menu{
    background-color: rgb(198, 198, 198);
    
}
#menu{
    background-color: rgb(198, 198, 198);
    width: 100%; 
    margin:0;
}
nav ul{
    font-family: 'EarlyFontDiary';
    padding-top:10px;
    padding-bottom:10px;
    text-decoration: none;
}    
a{
    text-decoration: none;
    color:black;

}                
nav ul li{
    
   display:inline;                         
   border-left:1px solid #999;            
   padding-top:5px;
   padding-bottom:5px;
   padding-left: 12%;
   padding:0 7%;  
   width:100%;  
                   
}
nav ul li:first-child{
    border-left:none;
}
a:hover{
    color:blue;
}
.main{
    margin-top: 40px;
}
.jg img{
    margin-left:50%;
}
.jp{
    margin-bottom:50px;
}
.jp img{
    margin-left:5%;
}
.ml{
    width:100%;
    height:70vh;
}
.main{
    font-family: 'EarlyFontDiary';
}

.jg p{
    position: absolute;
    display: block;
    left:10%;
    font-size:1.5em;
  
}
.show{
    position:absolute; 
}
.jp p{
    position: relative;
    display: block;
    left:55%;
    font-size:1.5em;
  
}